# https://clang.llvm.org/docs/ClangFormat.html
# Tabs are 4 spaces; always Allman brace-wrap scopes.

Language: Cpp

BasedOnStyle: LLVM

IntegerLiteralSeparator:
  Binary: 4
  DecimalMinDigits: 6
  Decimal: 3
  HexMinDigits: 5
  Hex: 2

AccessModifierOffset: -4
AlignArrayOfStructures: Left
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakArrays: false
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Allman
BreakBeforeConceptDeclarations: Always
ColumnLimit: 80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: false
DeriveLineEnding: false
IncludeBlocks: Merge
IncludeCategories: []
IndentPPDirectives: BeforeHash
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
LineEnding: LF
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
PPIndentWidth: -4
QualifierAlignment: Left
# QualifierOrder: ["inline", "static", "constexpr", "const", "type", "restrict"]
RequiresClausePosition: OwnLine
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Before
SpacesInContainerLiterals: false
TabWidth: 4
UseCRLF: false
