# Filter out checks from other linters
# See https://github.com/cpplint/cpplint/blob/develop/cpplint.py

set noparent
filter=-legal/copyright,-whitespace,-build/include_order,-readability/todo
exclude_files="build/*"
